@page
@model Proj_Frame.Pages.AboutUsModel
@{
}
<!DOCTYPE html>
<html>
    <head>
        <title>About us</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width = device-width,initial-scale=1.0" />
        <link rel="stylesheet" href="~/css/AboutUs.css" />
    </head>
    <body>
        <section id="about">
            <div class="about-1">
                <h1>About us</h1>
                <p>

                </p>

            </div>
            <div class="about2">
                <div class="content-box-lg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="about-item text-center">
                                    <i class="fa fa-book"></i>
                                    <h3>Mission</h3>
                                    <hr />
                                    <p>About us text</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about-item text-center">
                                    <i class="fa fa-book"></i>
                                    <h3>Vision</h3>
                                    <hr />
                                    <p>About us text</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about-item text-center">
                                    <i class="fa fa-book"></i>
                                    <h3>Stuff</h3>
                                    <hr />
                                    <p>About us text</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="text-center">
            <p> 2024 about us stuff</p>
        </footer>
    </body>
</html>
