@page
@model Proj_Frame.Pages.ContributorsModel
@{
}
<!Doctype html>
<html>
    <head>
        <title>Contributors</title>
       <meta charset="utf-8"/>
       <meta name="viewport" content="width = device-width,initial-scale =1.0"/>
       <link rel="stylesheet" type="text/css" href = ""/>
    </head>

    <body>
        <section>
            <div class="container">
                <h1>Connor Langley</h1>
                <img src="Connor.jpg" alt="Connor" class="image" />
             <div class="overlay">
                <div>class="text">Connor langey</div>
             </div>
                           
              
            </div>
            <div class="article">
                <h1>Andrew le Roux</h1>
                <img src="Andrew.jpg" alt="Andrew" class="image"/>
            <div class="overlay">
                <div>class="text">Andrew le Roux</div>
            </div>
                
            </div>
            <div class="article">
                <h1>Jan Greyling</h1>
                <img src="Jan.jpg" alt="Jan" class="image"/>
                <div class="overlay">
                 <div>class="text">Jan Greyling</div>
                </div>
                
            </div>

        </section>

    </body>
</html>
