@page
@model Proj_Frame.Pages.FAQModel
@{
}
<!DOCTYPE <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>FAQ</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width = device-width,initial-scale=1.0" />
        <link rel="stylesheet" href="~/css/Login.css" />
    </head>
    <body>
        <section>
            <h1 class="title">FAQs</h1>
            <div class="faq">
                <div class="question">
                    <h2>Placeholder for method</h2>
                    <svg width="15" height="10" viewBox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7" stroke-linecap="round"></path>
                    </svg>
                </div>
                <div class="answer">
                    <p>Place holder for answer retrieval method</p>
                </div>
            </div>

        <div class="faq">
            <div class="question">
                <h2>Placeholder for method</h2>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7" stroke-linecap="round"></path>
                </svg>
            </div>
            <div class="answer">
                <p>Place holder for answer retrieval method</p>
            </div>
        </div>

        <div class="faq">
            <div class="question">
                <h2>Placeholder for method</h2>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7" stroke-linecap="round"></path>
                </svg>
            </div>
            <div class="answer">
                <p>Place holder for answer retrieval method</p>
            </div>
        </div>


        <div class="faq">
            <div class="question">
                <h2>Placeholder for method</h2>
                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7" stroke-linecap="round"></path>
                </svg>
            </div>
            <div class="answer">
                <p>Place holder for answer retrieval method</p>
            </div>
        </div>

        </section>
        <script src="/js/FAQ.js"></script>
    </body>
</html>
