@page
@model Proj_Frame.Pages.FileUploadModel
@{
}
<!DOCTYPE html/>
<html>
    <head>
        <title>File Upload</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
        <meta name="viewport" content="width = device-width,initial-scale=1.0" />
        <link rel="stylesheet" href="~/css/FileUpload.css" />
    
        
    </head>
    <body>
        <header>
            <section>
                    <div class="container">
                     <nav>
                     <h1>Welcome</h1>
                     <ul>
                         <li class="nav-item">
                             <a asp-page="/Index" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a asp-page="/FAQ" class="nav-link">FAQ</a>
                        </li>
                      </ul>
                      </nav>
                      </div>
                      </section>
    

        </header>

    <form method="post" enctype="multipart/form-data" class="border p-4 rounded bg-light">
        <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" class="form-control" placeholder="Enter the subject of the file" required>
        </div>

        <div class="form-group">
            <label for="year">Year</label>
            <input type="number" id="year" name="Grade" class="form-control" placeholder="Enter the year" required>
        </div>

        <div class="form-group">
           
            <label for="options">Choose an option:</label>
            <select name="options" id="options" required>
            <option value="1">Test</option>
            <option value="2">assignment</option>
            <option value="3">Summary</option>
            <option value="4">Quiz</option>
            
            </select>
        <label for="agree">
            <input type="checkbox" id="agree" name="agree" required>Memo
        </label>

        </div>
        

        <div class="form-group">
            <label for="fileName">File Name</label>
            <input type="text" id="fileName" name="fileName" class="form-control" placeholder="Enter the desired file name (without extension)" required>
        </div>

        <div class="form-group">
            <label for="uploadedFile">Choose File (PDF, Word)</label>
            <input type="file" id="uploadedFile" name="uploadedFile" class="form-control-file" accept=".pdf,.doc,.docx" required>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
        <div class="linkToFaq">
            <a href="../Pages/FAQ.cshtml">FAQ</a>
        </div>
    </body>
</html>
