@page
@model Proj_Frame.Pages.OERsModel
@{
}
<!Doctype <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Open educational resources</title>
   
    </head>
    <body>
    <header>
        <section>
            <div class="container">
                <nav>
                    <h1>Welcome</h1>
                    <ul>
                        <li class="nav-item">
                            <a asp-page="/Index" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a asp-page="/Search" class="nav-link">Search</a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/SubjectView" class="nav-link">Subjects</a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/Moderate" class="nav-link">Moderate</a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/FileUpload" class="nav-link">Upload</a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/FAQ" class="nav-link">FAQs</a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/Login" class="nav-link active">Login</a>
                        </li>
                        <li class="nav-item">
                            <a asp-page="/CreateAccount" class="nav-link">Create Account</a>
                        </li>


                    </ul>
                </nav>
                <div class="article">
                    <h1></h1>
                    <p> </p>
                </div>
            </div>
        </section>
    </header>
    </body>
</html>