@page
@model Proj_Frame.Pages.PasswordResetModel
@{
}
<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" href="../wwwroot/css/PasswordReset.css" />
    </head>
    <body>
        <div class="Email box">
            <div class="reset-header">
                <header>Reset Password</header>
                <div class="input-box">
                <input type="text" class="input-field" placeholder="Enter username/email" autocomplete="off" required id="Email" />
                </div>
                <div class="input-box">
                    <label for="SecQ">>PLaceholder for method<</label>
                <input type="text" class="input-field" placeholder="Security Question answer" autocomplete="off" required id="SecQ" />
                </div>
               
            <div class="Send-Email">
                <button class="submit-btn" id="submit">Send Email</button>
            </div>
            <div class="Remebered-link">
                <p>
                    Remembered your password?  <a href="../Pages/Login.cshtml">Sign Up</a>
                </p>
            </div>
        </div>
    </body>
</html>
